@import '../variables.scss';

.login-container {
  background-color: $logo-dark;
}

.uppercase {
  text-transform: uppercase;
}

.login-container h1 {
  text-align: center;
  margin: 0;
  font-size: 150px;
  color: white;
}

.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container input::placeholder,
.login-container button {
  font-size: 16px;
  line-height: 70px;
}

.login-form input {
  border: lightslategray 2px solid;
}

.login-form input,
.login-form button {
  font-size: 32px;
  border-radius: 5px;
}

.input-name,
.input-email,
.input-password,
.input-verify-password,
.login-form button {
  margin-top: 25px;
  padding-left: 10px;
  height: 50px;
  width: 400px;
  border: none;
}

.input-signup-button,
.input-login-button {
  margin-top: 25px;
  height: 50px;
  width: 400px;
  color: white;
  background-color: $logo-primary;
}

.input-signup-button:hover,
.input-login-button:hover {
  background-color: $logo-secondary;
}