@import '../variables.scss';

.stockCard-container {
  display: flex;
  align-items: center;
}

.portfolio-card,
.search-card {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border: 2px $logo-primary solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-card:hover,
.search-card:hover {
  background-color: $logo-primary;
  border: 1px solid $logo-primary;
  color: white;
  cursor: pointer;
}

.portfolio-card {
  background-color: white;
}

.portfolio-card h3 {
  margin-top: 10px;
}

.portfolio-card p {
  margin-top: 6px;
  font-family: 'Noto Serif', serif;
  font-size: 17px;
}

.stockCard-title {
  font-size: 24px;
}

.stockCard-name {
  width: 200px;
}

.search-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.stock-card p {
  margin-top: 5px;
}