* {
  margin: 0;
  padding: 0; }

.app {
  height: 100vh;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.login-container h1 {
  text-align: center;
  margin: 0;
  font-size: 72px;
  color: #0A81D1; }

.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login-container input::placeholder,
.login-container button {
  text-transform: uppercase; }

.login-form input {
  border: black 2px solid; }

.login-form input,
.login-form button {
  font-size: 32px;
  border-radius: 5px; }

.input-name,
.input-email,
.input-password,
.input-verify-password,
.login-form button {
  margin-top: 25px;
  padding-left: 10px;
  height: 50px;
  width: 400px;
  border: none; }

.input-signup-button,
.input-login-button {
  margin-top: 25px;
  height: 50px;
  width: 400px;
  color: white;
  background-color: #0A81D1; }

.input-signup-button:hover,
.input-login-button:hover {
  background-color: white;
  color: grey; }

.single-stock {
  height: 100vh;
  width: 100%; }

.ss-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  margin-top: 50px;
  overflow-y: hidden; }

.ss-button-container {
  display: flex;
  flex-direction: column; }

.ss-button-container button {
  background-color: white;
  color: black;
  width: 100%;
  height: 50px;
  margin-top: 15px; }

.ss-button-buy {
  border: 2px green solid; }

.ss-button-buy:hover {
  background-color: green;
  color: white; }

.ss-num-shares-input {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  border: none; }

.ss-button-sell {
  border: 2px red solid; }

.ss-button-sell:hover {
  background-color: red;
  color: white; }

.search-container {
  display: flex;
  align-items: center; }

.search-input {
  width: 300px;
  height: 30px;
  padding: 0 10px 0 10px;
  font-size: 20px; }

.search-button {
  background-color: teal;
  height: 20px;
  width: 20px;
  border: none;
  margin: 0 35px 0 -30px;
  background: url("http://localhost:3000/src/assets/icons/icon-search-electricblue.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%; }

.header-container nav {
  display: flex;
  align-items: center; }

.header-logo-text,
.header-nav-list-item {
  color: #0A81D1;
  text-transform: uppercase; }

.header-logo-container {
  display: flex;
  align-items: center;
  margin: 25px 0 0 25px; }

.header-logo-icon {
  height: 50px; }

.header-logo-text {
  font-size: 48px;
  margin-left: 15px; }

.header-nav-list {
  display: flex;
  font-size: 32px;
  list-style: none; }

.header-nav-list li:last-child {
  margin-right: 35px; }

.header-nav-list-link {
  margin: 25px 0 0 15px; }

.header-nav-list-link:visited {
  color: #0A81D1; }

.header-nav-list-link {
  text-decoration: none; }

.header-nav-list-button {
  height: 30px;
  margin-right: 25px;
  background-color: white;
  border: none;
  font-size: 24px;
  color: #0A81D1; }

.header-nav-list-button:hover {
  color: #70C1B3;
  cursor: pointer; }

.portfolio-container {
  height: 100vh;
  width: 100%; }

.portfolio-main-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.stockCard-container {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 300px; }

.stockCard-container:hover {
  background-color: red;
  border: 2px solid red;
  color: white; }

.stockCard-title {
  font-size: 24px; }

.stockCard-name {
  width: 200px; }

.searchResults-container {
  height: 100vh;
  width: 100%; }

.searchResults-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
