* {
  margin: 0;
  padding: 0; }

.app {
  height: 100vh;
  width: 100%; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%; }

.header-container nav {
  display: flex;
  align-items: center; }

.header-logo-text,
.header-nav-list-item {
  color: #0A81D1;
  text-transform: uppercase; }

.header-logo-container {
  display: flex;
  align-items: center;
  margin: 25px 0 0 25px; }

.header-logo-icon {
  height: 50px; }

.header-logo-text {
  font-size: 48px;
  margin-left: 15px; }

.header-nav-list {
  display: flex;
  font-size: 32px;
  list-style: none; }

.header-nav-list li:last-child {
  margin-right: 35px; }

.header-nav-list-link {
  margin: 25px 0 0 15px; }

.header-nav-list-link:visited {
  color: #0A81D1; }

.header-nav-list-link {
  text-decoration: none;
  background: none; }

.header-nav-list-button {
  height: 30px;
  margin-right: 25px;
  background: none;
  border: none;
  font-size: 24px;
  color: #0A81D1; }

.header-nav-list-button:hover {
  color: #70C1B3;
  cursor: pointer; }

.login-container {
  background-color: #001739; }

.uppercase {
  text-transform: uppercase; }

.login-container h1 {
  text-align: center;
  margin: 0;
  font-size: 150px;
  color: white; }

.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login-container input::placeholder,
.login-container button {
  font-size: 16px;
  line-height: 70px; }

.login-form input {
  border: lightslategray 2px solid; }

.login-form input,
.login-form button {
  font-size: 32px;
  border-radius: 5px; }

.input-name,
.input-email,
.input-password,
.input-verify-password,
.login-form button {
  margin-top: 25px;
  padding-left: 10px;
  height: 50px;
  width: 400px;
  border: none; }

.input-signup-button,
.input-login-button {
  margin-top: 25px;
  height: 50px;
  width: 400px;
  color: white;
  background-color: #0A81D1; }

.input-signup-button:hover,
.input-login-button:hover {
  background-color: #087E8B; }

.portfolio-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8F3FA; }

.portfolio-main-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -100px; }

.portfolio-numbers-container {
  display: flex;
  flex-direction: column;
  text-align: center; }

.stock-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%; }

.pmc-cash,
.pmc-portfolio-value {
  font-size: 35px;
  color: #323232; }

.pmc-total-value {
  font-size: 100px;
  color: green; }

.portfolio-button-update {
  font-size: 16px;
  margin-top: 50px;
  width: 250px;
  height: 75px;
  color: white;
  background-color: black;
  border: none; }

.portfolio-button-update:hover {
  color: black;
  background-color: white; }

.search-container {
  display: flex;
  align-items: center; }

.search-input {
  width: 300px;
  height: 40px;
  padding: 0 10px 0 10px;
  font-size: 20px;
  border: 1px #0A81D1 solid;
  border-radius: 4px;
  z-index: 10; }

.search-button {
  background-color: teal;
  height: 20px;
  width: 20px;
  border: none;
  margin: 0 35px 0 -30px;
  background: url("http://localhost:3000/src/assets/icons/icon-search-electricblue.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  z-index: 11; }

.searchResults-container {
  height: 100vh;
  width: 100%; }

.searchResults-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.searchResults-container-none-found {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.no-matching-results {
  font-size: 200px; }

.stockCard-container {
  display: flex;
  align-items: center; }

.portfolio-card,
.search-card {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border: 2px #0A81D1 solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.portfolio-card:hover,
.search-card:hover {
  background-color: #0A81D1;
  border: 1px solid #0A81D1;
  color: white;
  cursor: pointer; }

.portfolio-card {
  background-color: white; }

.portfolio-card h3 {
  margin-top: 10px; }

.portfolio-card p {
  margin-top: 6px;
  font-family: 'Noto Serif', serif;
  font-size: 17px; }

.stockCard-title {
  font-size: 24px; }

.stockCard-name {
  width: 200px; }

.search-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; }

.stock-card p {
  margin-top: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
