@import './scss/variables.scss';
@import './scss/App.scss';
@import './scss/Login.scss';
@import './scss/SingleStock.scss';
@import './scss/Search.scss';
@import './scss/Header.scss';
@import './scss/Portfolio.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}