@import './variables.scss';
@import './App/styles.scss';
@import './Header/styles.scss';
@import './Leaderboard/styles.scss';
@import './Login/styles.scss';
@import './Portfolio/styles.scss';
@import './Search/styles.scss';
@import './SearchResults/styles.scss';
@import './StockCard/styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif
}