@import './variables.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.header-container nav {
  display: flex;
  align-items: center;
}

.header-logo-text,
.header-nav-list-item {
  color: $logo-primary;
  text-transform: uppercase;
}

.header-logo-container {
  display: flex;
  align-items: center;
  margin: 25px 0 0 25px;
}

.header-logo-icon {
  height: 50px;
}

.header-logo-text {
  font-size: 48px;
  margin-left: 15px;
}

.header-nav-list {
  display: flex;
  font-size: 32px;
  list-style: none;
}

.header-nav-list li:last-child {
  margin-right: 35px;
}

.header-nav-list-link {
  margin: 25px 0 0 15px;
}

.header-nav-list-link:visited{
  color: $logo-primary;
}

.header-nav-list-link {
  text-decoration: none;
  background: none;
}

.header-nav-list-button {
  height: 30px;
  margin-right: 25px;
  background: none;
  border: none;
  font-size: 24px;
  color: $logo-primary;
}

.header-nav-list-button:hover {
  color: $nav-hover;
  cursor: pointer;
}