.searchResults-container {
  height: 100vh;
  width: 100%;
}

.searchResults-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchResults-container-none-found {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-matching-results {
  font-size: 200px;
}